
@font-face {
    font-family: "Waukegan";
    src: url('/Font/Waukegan.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }


* {    
    margin: 0;
    font-family:"Waukegan";
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
.cuerpo{
    padding: 5%;
    margin-bottom: 1%;
}

.navbar{
    position: fixed;
    width: 100%;
}

.navbar li{
    margin-left: 30px;
}

.alineacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.python{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.alineacion img{
    max-width: 930px; margin-top: 70px; border-radius: 20px; box-shadow: 0 5px 20px #000;
}

.letras{
    font-size: 20px; 
    margin-left: 50px;
}

.agenda{
    color: rgb(9, 9, 102); font-style: italic; font-size: 30px;
}

h3{
    color: rgb(9, 9, 102); text-shadow: 0 5px 5px rgb(98, 97, 97);
}

.integrantes{
    display: flex; flex-direction: column; margin-top: 40px; 
}

.alineacion h4{
    color: rgb(9, 9, 102); text-shadow: 0 3px 5px rgb(98, 97, 97);
}

.menuApp{
    font-size: 20px; margin-left: 50px;
}

.caja-central{
    display: flex;
    flex-direction: row;
    justify-content:center;     
}

.caja-central .integrantes{
    margin-left: 2%;
}